body {
  font-family: 'Gilroy', sans-serif;
}

.header {
  display: flex;
  position: fixed;
  background-color: #FFF;
  width: 100%;
  max-width: 1176;
  padding-top: 24px;
  padding-left: 145px;
  padding-right: 130px;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  font-weight: 500;
  font-size: 15px;
  padding-bottom: 4px;
}

.nav {
  margin: 0;
  padding-bottom: 20px !important;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav>li {
  margin-left: 15px;
  margin-right: 100px;
}

.nav>li>a {
  text-decoration: none;
  color: #000;
}

.nav_button {
  background-color: #000;
  color: #fff !important;
  border-radius: 8px;
  border: none;
  padding: 6px 26px;
  font-family: 'Gilroy', sans-serif;
  color: #FFF;
  font-weight: 500;
  font-size: 15px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo_img {
  display: block;
  width: 70px;
  height: 30px;
  margin-left: 7px;
  margin-right: 90px;
  background-image: url(../img/logo.svg);
}

.a-link:hover {
  color: #089216 !important;
}

.nav_button:hover {
  background-color: #089216;
}

@font-face {
  font-family: 'Gilroy';
  src: url('Gilroy-Regular.eot');
  src: local('Gilroy Regular'), local('Gilroy-Regular'),
    url('Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
    url('Gilroy-Regular.woff2') format('woff2'),
    url('Gilroy-Regular.woff') format('woff'),
    url('Gilroy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('Gilroy-Bold.eot');
  src: local('Gilroy Bold'), local('Gilroy-Bold'),
    url('Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
    url('Gilroy-Bold.woff2') format('woff2'),
    url('Gilroy-Bold.woff') format('woff'),
    url('Gilroy-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('Gilroy-Medium.eot');
  src: local('Gilroy Medium'), local('Gilroy-Medium'),
    url('Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
    url('Gilroy-Medium.woff2') format('woff2'),
    url('Gilroy-Medium.woff') format('woff'),
    url('Gilroy-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('Gilroy-MediumItalic.eot');
  src: local('Gilroy Medium Italic'), local('Gilroy-MediumItalic'),
    url('Gilroy-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('Gilroy-MediumItalic.woff2') format('woff2'),
    url('Gilroy-MediumItalic.woff') format('woff'),
    url('Gilroy-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('Gilroy-RegularItalic.eot');
  src: local('Gilroy Regular Italic'), local('Gilroy-RegularItalic'),
    url('Gilroy-RegularItalic.eot?#iefix') format('embedded-opentype'),
    url('Gilroy-RegularItalic.woff2') format('woff2'),
    url('Gilroy-RegularItalic.woff') format('woff'),
    url('Gilroy-RegularItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

/*

h1 {
  font-size: 48px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 36.5px;
}

h1, h2, h3 {
  font-weight: bold;
} */
