html {
  display: flex;
  justify-content: center;
}

body {
  font-family: 'Gilroy', sans-serif;
  /* background: url(../img/bg.png); */
}

.header {
  display: flex;
  position: fixed;
  background-color: #FFF;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  font-size: 15px;
  padding-top: 17px;
  padding-left: 120px;
  padding-right: 130px;
}

.wrap {
  width: 100%;
  max-width: 1176;
  padding-top: 24px;
  /* padding-left: 145px;   */
}

.nav {
  margin: 0;
  padding-bottom: 20px !important;
  padding-top: 2px !important;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav>li {
  margin-left: 15px;
  margin-right: 100px;
}

.nav>li>a {
  text-decoration: none;
  color: #000;
}

.nav_button {
  background-color: #000;
  color: #fff !important;
  border-radius: 8px;
  border: none;
  padding: 6px 26px;
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-size: 15px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo_img {
  display: block;
  width: 70px;
  height: 30px;
  margin-left: 7px;
  margin-right: 90px;
  background-image: url("../img/logo_1.svg");
}

.a_link:hover {
  color: #089216 !important;
}

.nav_button:hover {
  background-color: #089216;
}

.wrap_button {
  background-color: #000;
  color: #fff !important;
  border-radius: 8px;
  border: none;
  padding: 18px 83px;
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-size: 22px;
  text-decoration: none;
}

.wrap_button:hover {
  background-color: #089216;
}

.page {
  padding-top: 185px;
  padding-bottom: 102px;
  margin-left: 78px;
}

h1 {
  font-size: 48px;
  line-height: 45px;
  font-weight: bold;
}

h2 {
  font-size: 20px;
  font-weight: 500;
  margin-left: 576px;
  margin-top: -39px;
  z-index: 9;
  position: absolute;
}

h3 {
  font-size: 35px;
  line-height: 34px;
  font-weight: bold;
}

h4 {
  font-size: 35px;
  line-height: 34px;
  font-weight: bold;
  color: #fff;
  margin-left: -25px;
  margin-top: 135px;
  position: absolute;
  z-index: 9;
}

h5 {
  font-size: 20px;
  font-weight: 500;
  margin-left: 574px;
  margin-top: -14px;
  z-index: 9;
  position: absolute;
}

.description_fourth_h4_second {
  position: absolute;
  z-index: 9;
  color: #fff;
  margin-left: -25px;
  margin-top: 186px;
  font-size: 20px;
  line-height: 21.5px;
  font-style: italic;
}

.h3_first {
  margin-left: 660px;
  margin-top: 16px;
}

.h3_second {
  margin-left: -25px;
  margin-top: 27px;
}

.h3_fifth {
  margin-left: -69px;
  margin-top: 31px;
}

.h3_sixth {
  margin-left: 405px;
  margin-top: -169px;
}

.h3_seventh {
  margin-left: 881px;
  margin-top: -168px;
}

.h3_eighth {
  margin-left: 656px;
  margin-top: 45px;
}

.h3_ninth {
  margin-left: -25px;
  margin-top: 45px;
}

.h3_tenth {
  margin-left: 655px;
  margin-top: 45px;
}

.h3_eleventh {
  margin-left: -25px;
  margin-top: 45px;
}

.h3_twelfth {
  margin-left: 655px;
  margin-top: 43px;
}

.description_first_h3_first {
  font-size: 20px;
  font-weight: 500;
  font-style: italic;
  margin-left: 660px;
  margin-top: 20px;
}

.description_first_h3_second {
  font-size: 20px;
  font-weight: 500;
  font-style: italic;
  margin-left: -24px;
  margin-top: 20px;
}

.description_fifth_h3_second {
  font-size: 18px;
  line-height: 24.5px;
  font-weight: 500;
  margin-left: -69px;
  margin-top: 19px;
}

.description_sixth_h3_second {
  font-size: 18px;
  line-height: 24.5px;
  font-weight: 500;
  margin-left: 405px;
  margin-top: 19px;
}

.description_seventh_h3_second {
  font-size: 18px;
  line-height: 24.5px;
  font-weight: 500;
  margin-left: 880px;
  margin-top: 19px;
}

.description_first_h3_first_2 {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  margin-left: 660px;
  margin-top: 328px;
}

.description_first_h3_second_2 {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  margin-left: -22px;
  margin-top: 333px;
}

.description_eighth_h3_first {
  font-size: 20px;
  font-weight: 500;
  font-style: italic;
  margin-left: 660px;
  margin-top: 20px;
}

.description_eighth_h3_first_2 {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  margin-left: 658px;
  margin-top: 291px;
}

.description_ninth_h3_first {
  font-size: 20px;
  font-weight: 500;
  font-style: italic;
  margin-left: -24px;
  margin-top: 20px;
}

.description_tenth_h3_first {
  font-size: 20px;
  font-weight: 500;
  font-style: italic;
  margin-left: 654px;
  margin-top: 20px;
}

.description_eleventh_h3_first {
  font-size: 20px;
  font-weight: 500;
  font-style: italic;
  margin-left: -26px;
  margin-top: 20px;
}

.description_twelfth_h3_first {
  font-size: 20px;
  font-weight: 500;
  font-style: italic;
  margin-left: 654px;
  margin-top: 20px;
}

.description_ninth_h3_second_2 {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  margin-left: -22px;
  margin-top: 326px;
}

.description_tenth_h3_second_2 {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  margin-left: 658px;
  margin-top: 304px;
}

.description_eleventh_h3_second_2 {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  margin-left: -22px;
  margin-top: 327px;
}

.description_twelfth_h3_second_2 {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  margin-left: 658px;
  margin-top: 328px;
}

.description_ninth_h3_first_2 {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  margin-left: -22px;
  margin-top: 326px;
}

.h1_description {
  margin-top: 30px;
  line-height: 31px;
  font-size: 25px;
  margin-bottom: 80px;
}

#line_1 {
  border-top: 1px solid #000;
  margin-top: 22px;
  position: fixed;
  margin-left: -115px;
  margin-right: 1px;
  width: 1380px;
}

#line_2 {
  border-top: 1px solid #000;
  margin-top: 25px;
  position: fixed;
  margin-left: -115px;
  margin-right: 1px;
  width: 1380px;
}

#line_3 {
  border-top: 1px solid #000;
  margin-top: 89px;
  margin-left: -73px;
  margin-right: 1px;
  width: 1380px;
}

#line_4 {
  border-top: 1px solid #000;
  margin-top: 3px;
  margin-left: -73px;
  margin-right: 1px;
  width: 1380px;
}

#line_5 {
  border-top: 1px solid #000;
  margin-top: 30px;
  margin-left: -73px;
  margin-right: 1px;
  width: 1380px;
}

#line_6 {
  border-top: 1px solid #000;
  margin-top: 22px;
  margin-left: -73px;
  margin-right: 1px;
  width: 1380px;
}

#line_7 {
  border-top: 1px solid #000;
  margin-top: 3px;
  margin-left: -73px;
  margin-right: 1px;
  width: 1380px;
}

#line_8 {
  border-top: 1px solid #000;
  margin-top: 371px;
  margin-left: -73px;
  margin-right: 1px;
  width: 1380px;
}

#line_9 {
  border-top: 1px solid #000;
  margin-top: 3px;
  margin-left: -73px;
  margin-right: 1px;
  width: 1380px;
}

#line_10 {
  border-top: 1px solid #000;
  margin-top: 558px;
  margin-left: -73px;
  margin-right: 1px;
  width: 1380px;
}

#line_11 {
  border-top: 1px solid #000;
  margin-top: 3px;
  margin-left: -73px;
  margin-right: 1px;
  width: 1380px;
}

#line_12 {
  border-top: 1px solid #000;
  margin-top: 32px;
  margin-left: -73px;
  margin-right: 1px;
  width: 1380px;
}

#line_13 {
  border-top: 1px solid #000;
  margin-top: 28px;
  margin-left: -73px;
  margin-right: 1px;
  width: 1380px;
}

#line_14 {
  border-top: 1px solid #000;
  margin-top: 5px;
  margin-left: -73px;
  margin-right: 1px;
  width: 1380px;
}

#line_15 {
  border-top: 1px solid #000;
  margin-top: 10px;
  margin-left: -73px;
  margin-right: 1px;
  width: 1380px;
}

#line_16 {
  border-top: 1px solid #000;
  margin-top: 5px;
  margin-left: -73px;
  margin-right: 1px;
  width: 1380px;
}

.img_first {
  margin-top: -342px;
  margin-left: 605px;
}

.img_second {
  margin-top: -625px;
  margin-bottom: 15px;
  margin-left: -74px;
}

.img_third {
  margin-top: -481px;
  margin-left: 608px;
  margin-bottom: 23px;
}

.img_fourth {
  margin-top: -432px;
  margin-left: -72px;
  margin-bottom: -290px;
}

.img_fifth {
  margin-left: -72px;
  margin-bottom: -507px;
}

.img_sixth {
  margin-left: 403px;
  margin-bottom: -505px;
}

.img_seventh {
  margin-left: 874px;
  margin-bottom: -505px;
}

.img_eighth {
  margin-top: -476px;
  margin-bottom: 15px;
  margin-left: -71px;
}

.img_ninth {
  margin-top: -476px;
  margin-bottom: 15px;
  margin-left: 606px;
}

.img_tenth {
  margin-top: -475px;
  margin-bottom: 38px;
  margin-left: -72px;
}

.img_eleventh {
  margin-top: -475px;
  margin-bottom: 38px;
  margin-left: 605px;
}

.img_twelfth {
  margin-top: -477px;
  margin-bottom: 38px;
  margin-left: -87px;
}

.white_rectangle {
  position: absolute;
  z-index: 1;
  margin-left: 552px;
  margin-top: -52px;
}

.white_rectangle_2 {
  position: absolute;
  z-index: 1;
  margin-left: 552px;
  margin-top: -33px;
}

@font-face {
  font-family: 'Gilroy';
  src: url('Gilroy-Regular.eot');
  src: local('Gilroy Regular'), local('Gilroy-Regular'),
    url('Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
    url('Gilroy-Regular.woff2') format('woff2'),
    url('Gilroy-Regular.woff') format('woff'),
    url('Gilroy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('Gilroy-Bold.eot');
  src: local('Gilroy Bold'), local('Gilroy-Bold'),
    url('Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
    url('Gilroy-Bold.woff2') format('woff2'),
    url('Gilroy-Bold.woff') format('woff'),
    url('Gilroy-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('Gilroy-Medium.eot');
  src: local('Gilroy Medium'), local('Gilroy-Medium'),
    url('Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
    url('Gilroy-Medium.woff2') format('woff2'),
    url('Gilroy-Medium.woff') format('woff'),
    url('Gilroy-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('Gilroy-MediumItalic.eot');
  src: local('Gilroy Medium Italic'), local('Gilroy-MediumItalic'),
    url('Gilroy-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('Gilroy-MediumItalic.woff2') format('woff2'),
    url('Gilroy-MediumItalic.woff') format('woff'),
    url('Gilroy-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('Gilroy-RegularItalic.eot');
  src: local('Gilroy Regular Italic'), local('Gilroy-RegularItalic'),
    url('Gilroy-RegularItalic.eot?#iefix') format('embedded-opentype'),
    url('Gilroy-RegularItalic.woff2') format('woff2'),
    url('Gilroy-RegularItalic.woff') format('woff'),
    url('Gilroy-RegularItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

/*
h2 {
  font-size: 32px;
}

h3 {
  font-size: 36.5px;
}

h1, h2, h3 {
  font-weight: bold;
} */
